* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow: scroll;
}

/* Main elements */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.inner-container {
  margin: auto;
  padding: 60px 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding: 5px 0;
}

.content-container {
  font-size: 20px;
  line-height: 1.5;
}

.content {
  max-width: 768px;
}

.code {
  font-family: monospace;
  color: #2e98fa;
}

a {
  color: #2e98fa;
}

.list {
  margin-top: 8px;
}

/* @media screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }

  .content-container {
    font-size: 18px;
  }
} */

/* Animated gradient background */

@property --color-r {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

@property --color-g {
  syntax: '<number>';
  initial-value: 100;
  inherits: false;
}

@property --color-b {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

body::before {
  --bg-gradient-color-2: #000000;

  content: '';
  position: fixed;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background: linear-gradient(142deg, rgb(var(--color-r), var(--color-g), var(--color-b)) 30%, var(--bg-gradient-color-2) 60%);
  animation: rotateGradient 10s linear infinite,
             colorCycle 10s linear infinite;
  z-index: -1;
  transform-origin: center center;
}

@keyframes rotateGradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorCycle {
  0%, 100% {
    --color-r: 30;
    --color-g: 30;
    --color-b: 80;
  }
  14.25% {
    --color-r: 30;
    --color-g: 80;
    --color-b: 80;
  }
  28.5% {
    --color-r: 30;
    --color-g: 80;
    --color-b: 30;
  }
  42.75% {
    --color-r: 30;
    --color-g: 80;
    --color-b: 30;
  }
  57% {
    --color-r: 80;
    --color-g: 80;
    --color-b: 30;
  }
  71.25% {
    --color-r: 80;
    --color-g: 30;
    --color-b: 30;
  }
  85.5% {
    --color-r: 80;
    --color-g: 30;
    --color-b: 80;
  }
}

/* Tweaked version of https://www.sitepoint.com/css-typewriter-effect */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  from { border-color: transparent }
  to { border-color: orange; }
}

@keyframes stopCursor {
  to   { border: none; }
}

.typewriter-container {
  display: inline-block;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid rgb(0,0,0);
  white-space: nowrap;
  width: 0;
  animation:
    typing 1s steps(15, end) forwards,
    blinking .8s infinite,
    stopCursor 0s 4.5s forwards;
}
